<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-info">Actions</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>GEO</th>
							<th>Impression</th>
							<th>Click</th>
							<th>Conversion</th>
						</tr>
					</thead>
					<tbody>
						<% actions.forEach(function(action) { %>
							<tr>
								<td>
									<%= action.geo %>
								</td>
								<td>
									<%= action.impression %>
								</td>
								<td>
									<%= action.click %>
								</td>
								<td>
									<%= action.conversion %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<a class="nav-link" href="/create">
							<button class="btn btn-info">Create Data</button>
						</a>
					</div>
					<div class="col-md-6">
						<h3 class="text-info text-right">
							CTR <%= (ctr?.clickTotal / ctr?.impressionTotal).toFixed(4) %>
						</h3>
					</div>
				</div>
				<h3 class="text-info">Summarise Offers</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>Offer</th>
							<th>Impression Sum</th>
						</tr>
					</thead>
					<tbody>
						<% summariseOffers.forEach(function(item) { %>
							<tr>
								<td>
									<%= item.offerId %>
								</td>
								<td>
									<%= item.impression %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>

				<h3 class="text-info">Total Conversion Per Geo</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>GEO</th>
							<th>Total Conversions</th>
						</tr>
					</thead>
					<tbody>
						<% conversionByGeos.forEach(function(item) { %>
							<tr>
								<td>
									<%= item.geo %>
								</td>
								<td>
									<%= item.conversion %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>

				<h3 class="text-info">Advertisers</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Platform</th>
							<th>Structure Link</th>
						</tr>
					</thead>
					<tbody>
						<% advertisers.forEach(function(item) { %>
							<tr>
								<td>
									<%= item.title %>
								</td>
								<td>
									<%= item.platform %>
								</td>
								<td>
									<%= item.structureLink %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>

				<h3 class="text-info">Publishers</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Link</th>
							<th>User</th>
						</tr>
					</thead>
					<tbody>
						<% publishers.forEach(function(item) { %>
							<tr>
								<td>
									<%= item.title %>
								</td>
								<td>
									<%= item.link %>
								</td>
								<td>
									<%= item.user %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>

				<h3 class="text-info">Offers</h3>
				<Table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Link</th>
							<th>Payout</th>
							<th>KPI</th>
							<th>Currency</th>
						</tr>
					</thead>
					<tbody>
						<% offers.forEach(function(item) { %>
							<tr>
								<td>
									<%= item.title %>
								</td>
								<td>
									<%= item.link %>
								</td>
								<td>
									<%= item.payout %>
								</td>
								<td>
									<%= item.kpi %>
								</td>
								<td>
									<%= item.currency %>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</Table>

			</div>
		</div>

	</main>

</body>

</html>